* {
  margin: 0;
  padding: 0;
  overflow: visible;
}

ul {
  list-style-type: none;
}


/* Main css for all the containers */
.dashboard {
  background-color: rgb(39, 182, 235);
  grid-row: 1/5;
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-top: 15px;
  padding-left: 15px;
  font-weight: bold;
  color: white;
}

.header {
  background-color: white;
  grid-column: 2/4;
  box-shadow: 0 5px 15px -5px rgba(0, 0, 0, .3);
  position: relative;
  z-index: 1;
  padding: 20px;
}

.projects {
  background-color: rgb(220, 229, 235);
  grid-row: 2/5;
  grid-column-start: 2;
  padding-left: 30px;
  padding-top: 25px;
  padding-right: 60px;
}

.sidebar {
  background-color: rgb(220, 229, 235);
  grid-row: 2/5;
  grid-column-start: 3;
}

.container {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 5fr 2fr;
  grid-template-rows: repeat(4, 1fr);
}

/* Dashboard */
#dash-title {
  font-size: 25px;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  gap:  10px;
}

.dashboard-img path, .dashboard-img {
  width: 50px;
  fill: white;
}

.user-btns, .help-btns {
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-size: 20px;
  fill: white;
}

li {
  display: flex;
  align-items: center;
  gap: 10px;
}

.li-img {
  width: 30px;
}

/* Header */

.top-header {
  margin: 5px;
  display: flex;
  justify-content: space-between;
}

.profile {
  display:flex;
  gap: 25px;
  align-items: center;
  font-weight: bold;
  font-size: 20px;
}

.search-bar {
  display: flex;
  gap: 5px;
}

#search {
  border-radius: 10px;
  width: 30vw;
  padding-left: 10px;
  background-color: rgb(220, 229, 235);
}


/* Projects */

.project-title {
  margin-bottom: 20px;
}

.card {
  background-color: white;
  padding: 25px;
  height: 200px;
  width: 300px;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0,0,0,.1);
}

.title {
  text-align: center;
  margin-bottom: 10px;
}

.project-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 100px;
}